# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/

# Entity Framework
*.edmx.diagram

# Publish
PublishProfiles/

# Logs
*.log

# SQL Server
*.mdf
*.ldf

# Temporary files
*.tmp
*.cache

# ReSharper
_ReSharper*/

# Rider
.idea/

# Node
node_modules/

# Uploads (nếu muốn giữ thư mục nhưng không lưu ảnh)
Content/uploads/*
!Content/uploads/.gitkeep